.articleView {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    margin-right: 0px;
    color: black;
}

.articleView img {
    width: 20%;
}

.articleVievContainer a:hover {
    text-decoration: none;
}

.articleVievContainer {
    margin: 1vh auto;
}

